{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "navigator": true,
    "document": true
  },
  "rules": {
    "space-in-parens": ["error", "always"],
    "computed-property-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "always"],
    "react/jsx-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always"]
  }
}